<div class="flex items-center justify-center w-full h-full">
    <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit($event)"
        class="w-full lg:w-1/2 2xl:w-1/4 border rounded-[5%] h-1/2 bg-dark/10 border-dark/50 px-4 py-8 flex flex-col"
    >
        <div class="w-full text-center">
            <h2 class="text-xl font-bold">Log in</h2>
        </div>
        <div class="flex flex-col justify-center w-full grow">
            <div class="flex flex-col">
                <div class="w-3/4 m-auto mb-4">
                    <h3 class="font-bold">Email</h3>
                    <input
                        autocomplete="email"
                        id="email"
                        receptiInput
                        formControlName="email"
                        (input)="onEmailInput($event)"
                        (focus)="
                            this.loginForm.controls['email'].markAsUntouched()
                        "
                        (blur)="
                            this.loginForm.controls['email'].markAsTouched()
                        "
                        class="w-full"
                        placeholder="name@example.abc"
                    />
                    <div
                        class="fixed text-sm transition-opacity duration-200 text-so2"
                        [ngClass]="{
                            'opacity-100':
                                loginForm.controls['email'].invalid &&
                                loginForm.controls['email'].touched,
                            'opacity-0':
                                loginForm.controls['email'].valid ||
                                loginForm.controls['email'].untouched
                        }"
                    >
                        <p>Email je obavezan!</p>
                    </div>
                </div>
                <div class="w-3/4 m-auto font-bold">
                    <h3 class="">Password</h3>
                    <input
                        id="password"
                        autocomplete="current-password"
                        receptiInput
                        formControlName="password"
                        (input)="onPasswordInput($event)"
                        (blur)="
                            this.loginForm.controls['password'].markAsTouched()
                        "
                        (focus)="
                            this.loginForm.controls[
                                'password'
                            ].markAsUntouched()
                        "
                        class="w-full"
                        placeholder=""
                        type="password"
                    />
                    <div
                        class="fixed text-sm transition-opacity duration-200 text-so2"
                        [ngClass]="{
                            'opacity-100':
                                loginForm.controls['password'].invalid &&
                                loginForm.controls['password'].touched,
                            'opacity-0':
                                loginForm.controls['password'].valid ||
                                loginForm.controls['password'].untouched
                        }"
                    >
                        <p>Lozinka je obavezna!</p>
                    </div>
                </div>
                <div class="flex flex-row w-3/4 m-auto">
                    <span class="grow"></span>
                    <a
                        class="underline text-so2 hover:text-so2/70"
                        href="/forgot-password"
                        >Forgot password?</a
                    >
                </div>
            </div>
        </div>
        <button receptiButton class="m-auto text-md">Confirm</button>
    </form>
</div>
